<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">ProfessoresWeb</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="cadastro-professor">Cadastrar Professsores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="consulta-professor">Consultar Professores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card text-center">
       
  <div class="card-body">
    <h5 class="card-title">Página para cadastrar e consultar professores disponíveis</h5>
    <p class="card-text">Ao consultar Utilize sua matrícula e adicione ao curso que você queria contratar</p>
    <a routerLink="/consulta-professor" class="btn btn-primary">Consulte os professores</a>
  </div>
</div>




<div class="m-4">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>

     
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Processando, por favor aguarde...</p>
</ngx-spinner
>

